<app-header [fixedTop]="true"></app-header>

<!-- Body -->

<section id="carousel" class="home-carousel mb-5 p-0" style="height: 80vh; position: relative; overflow: hidden;">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 80vh;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://peeps4u.wbclients.com/images/heroimage1.png">
        <div class="container">
          <div class="carousel-caption text-start intros intro-text">
            <h1 class="text-start ">Looking for a new job?
              We will make you smile.</h1>
            <p style="color:#fff">Peeps 4 U will find employers that match your ideal workplace.</p>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://peeps4u.wbclients.com/images/heroimage2.png">
        <div class="container">
          <div class="carousel-caption text-start intros intro-text">
            <h1 class="text-start ">Looking for Educators.</h1>
            <p style="color:#fff">We take the seeking out of recruitment and match your centre with educators.</p>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- <section id="home" class="intro-section">
  <div class="container">
      <div class="row">
          <div class="col-md-5 intros">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h1>Find Your Next<br><span class="primary"> Educators, Fast.</span></h1>
                  <h5 class="fw-normal mt-3">PEEPS 4 U is a new innovative way to match employers to educators. You no longer need to wait to see who applies, PEEPS 4 U will do all the work for you.</h5>
                  
                  <div class="d-flex flex-nowrap gap-2 mt-5 search-filters">
                    <div class="search-educators col-md-6">
                      <div class="input-group mb-3 shadow-sm">
                        <span class="input-group-text pe-0 bg-white border-end-0">
                          <i class="bx bx-briefcase-alt bx-sm" style="top: 1px;"></i>
                        </span>
                        <input type="text" class="form-control shadow-none border-start-0" placeholder="Early Childhood Educators">
                      </div>
                    </div>
                    <div class="search-locations">
                                            
                      <div class="input-group mb-3 shadow-sm">
                        <span class="input-group-text pe-0 bg-white border-end-0">
                          <i class="bx bx-map bx-sm" style="top: 1px;"></i>
                        </span>
                        <input type="text" class="form-control shadow-none border-start-0" placeholder="Brisbane, QLD">
                      </div>
                    </div>
                    <div class="button-search">
                      <button class="btn btn-primary">
                        <i class="bx bx-search bx-sm" style="top: 2px;"></i>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            
            </div>

          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6 intros">
            <img class="img-fluid" src="assets/images/headerimage.png" alt=""/>
          </div>
      </div>
  </div>
</section> -->

<section id="services" class="services">
  <div class="servicesbg"></div>
  <div class="container">
    <div class="col-md-12">
      <h4 class="sub-heading">Our Process</h4>
      <h2 class="heading">How It <span class="primary-text">Works</span></h2>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills my-3  activenav justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item mb-4" role="presentation">
            <button class="nav-link btn-lg active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">For Early Learning Centres</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link btn-lg" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#for-educators" type="button" role="tab" aria-controls="for-educators" aria-selected="false">For Early Childhood Educators</button>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container">
              <div class="row">
                
                <div class="col-md-2"></div>
                  <div class="col-md-8 border-container">
                   <div style="padding:56.25% 0 0 0;position:relative;">
                      <iframe src="https://player.vimeo.com/video/651832387?h=36b636064d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
              </div>  
            </div>
          </div>

          <div class="tab-pane fade" id="for-educators" role="tabpanel" aria-labelledby="for-educators-tab">
            <div class="container">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 border-container">
                  <div style="padding:56.25% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/651811868?h=95ec703691&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>  
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
      <div class="about-container-bg">
        <div class="about-circle-top"></div>
        <div class="about-circle-lightpinkmid"></div>
        <div class="about-circle-lightpinksmall"></div>
        <div class="about-circle-lightpinklarge"></div>
      <div class="row">
           
            <div class="col-md-7">
              <h4 class="text-start">Our Features</h4>
              <h2 class="text-start">Why <span class="primary-text">Choose Us</span></h2>
                <div class="about-container">
               <p>Whether you are looking for a job or searching for the right employee PEEPS 4 U has it all in one place!</p>
                 <h4 class="primary-text text-start">Saves Time</h4>  
                 <p>No more trolling through endless job ads or waiting for the right applicant to apply! PEEPS 4 U innovative system will match educators and employers based on profiles that you create! </p> 
                <h4 class="primary-text text-start">Hassle Free</h4>
                <p>PEEPS 4 U not only saves you time but takes the hassle out of writing those job ads, waiting for applicants and then needing to read through resumes to short list. PEEPS 4 U does all of this for you!</p>  
              </div>
            </div>
            
            <div class="col-md-5">
            <img class="img-fluid" src="assets/images/studing.png">

            </div>
        </div>
      </div>
    </div>
</section>

<section id="services" class="dataslide">
  <div class="trianglebg"></div>
  <div class="donutbg"></div>
  <div class="roundradiusbg-lightpinkcorner"></div>
  <div class="roundradiusbg-primarymid"></div>
  <div class="roundradiusbg-primarysmall"></div>
  <div class="spring"></div>
  <div class="container">
     <div class="">
        <h4>Application Search</h4>
        <h2>Live <span class="primary-text">Updates</span></h2>
     </div>
     <div class="my-4">
        <div id="carouselContent" class="carousel slide " data-ride="carousel">
          <div class="ticker">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item  active text-center">
                    <div>A Child Care Center in Melbourne has just completed a successful Candidate search.</div>
                </div>
              </div>
          </div>
        </div>
     </div>
     <div class="row my-5">
        <div class="col-md-4 mb-4">
           <div class="shadow-container text-center">
              <h2 class="primary-text my-4">{{ liveUpdates.total_elc_registered_count ?? 0 }}</h2>
              <h4 class="mb-4">Number of Childcare Centers registed on PEEPS </h4>
              <p><a href="#" class="btn btn-primary">Apply Now</a></p>
           </div>
        </div>
        <div class="col-md-4 mb-4">
           <div class="shadow-container text-center">
              <h2 class="primary-text my-4">{{ liveUpdates.total_ece_registered_count ?? 0 }}</h2>
              <h4 class="mb-4" >Number of Child Care Educators Registered on PEEPS </h4>
              <p><a href="#" class="btn btn-primary">Apply Now</a></p>
           </div>
        </div>
        <div class="col-md-4 mb-4">
           <div class="shadow-container text-center">
              <h2 class="primary-text my-4">{{ liveUpdates.total_job_match_count ?? 0 }}</h2>
              <h4 class="mb-4" >Number of Child Care Industry Jobs matches by PEEPS </h4>
              <p><a href="#" class="btn btn-primary">Apply Now</a></p>
           </div>
        </div>
     </div>
  </div>
</section>

<!--section class="testimonial-background">
  <div class="roundradiusbg-primarymid"></div>
  <div class="roundradiusbg-lightpink"></div>
  <div class="roundradiusbg-primarysmall"></div>
  <div class="roundradiusbg-lightpinklarge"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>What They Say About Us</h4>
        <h2>Client <span class="primary-text">Testimonials</span></h2>
      </div>
    </div>
    <div class="row">
      <div class='col-md-6 offset-md-3'>
        <div id="quote-carousel" class="carousel slide my-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonials">
                <div class="active item">
                  <div class="carousel-info">
                    <div class="shadow-container">
                      <img alt="" src="http://www.reactiongifs.com/r/overbite.gif" class="pull-left">
                      <p class="pt-3">Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
                      <div class="primary-text text-start testimonial-name">Lina Mars</div>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonials">
                <div class="active item">
                  <div class="carousel-info">
                    <div class="shadow-container">
                      <img alt="" src="http://www.reactiongifs.com/r/overbite.gif" class="pull-left">
                      <p class="pt-3">Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
                      <div class="primary-text text-start testimonial-name">Lina Mars</div>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonials">
                <div class="active item">
                  <div class="carousel-info">
                    <div class="shadow-container">
                      <img alt="" src="http://www.reactiongifs.com/r/overbite.gif" class="pull-left">
                      <p class="pt-3">Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p>
                      <div class="primary-text text-start testimonial-name">Lina Mars</div>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section-->

<!-- Body -->


<app-footer></app-footer>
