.upload-btn-wrapper {
  position: relative;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

// .form-wrapper {
//   column-count: 2;
//   column-gap: 20px;
//   width: 100%;
// }

// .boder-container {
//   width: 100%;
// }