<app-header></app-header>

<!-- Body -->

<section  class="login-section">
  <div class="round-bg-circle1"></div>
  <div class="round-bg-circle2"></div>
  <div class="round-bg-circle3"></div>
  <div class="round-bg-circle4"></div>
  <div class="container">
    <div class="row border-container my-3 ">
      <i class="bx bx-check-circle primary-text text-center" style="font-size: 64px;"></i>
      <h3 class="mt-4 ">Verification Success</h3>
      <p class="text-center">Your email address has been verified. You may now login your account.</p>

      <a routerLink="/login" class="btn btn-primary w-auto mx-auto mt-3">Go to Login</a>
    </div>
  </div>
</section>
<!-- Body -->

<app-footer></app-footer>