<app-header></app-header>

<!-- Body -->

<section  class="login-section">
  <div class="round-bg-circle1"></div>
  <div class="round-bg-circle2"></div>
  <div class="round-bg-circle3"></div>
  <div class="round-bg-circle4"></div>
  <div class="container">
    <div class="row border-container my-3 ">
      <div class="col-md-7 mt-6 d-flex align-items-center justify-content-center ">
        <img class="img-fluid" src="assets/images/headerimage.png" alt=""/>
      </div>
      <div class="col-md-5 ">
        <h4 class="text-start"><img class="ms-3"src="assets/images/icons/login.png"/><span class="ms-3">Reset Password</span></h4>
        <p class="mb-4">Provide valid email id to reset your account's password.</p>

        <div *ngIf="errors?.token" id="tokenHelpBlock" class="text-danger form-text mb-2" [innerHtml]="errors?.token | formatErrorMessage"></div>

        <div class="form-group mb-4">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="form.email" class="form-control mt-2" id="email" placeholder="6+ Characters, 1 Capital Letter">
          <div *ngIf="errors?.email" id="emailHelpBlock" class="text-danger form-text" [innerHtml]="errors?.email | formatErrorMessage"></div>
        </div>
        <div class="form-group mb-4">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="form.password" class="form-control mt-2" id="password" placeholder="6+ Characters, 1 Capital Letter">
          <div *ngIf="errors?.password" id="passwordHelpBlock" class="text-danger form-text" [innerHtml]="errors?.password | formatErrorMessage"></div>
        </div>
        <div class="form-group mb-4">
          <label for="rePassword">Confirm Password</label>
          <input type="password" [(ngModel)]="form.password_confirmation" class="form-control mt-2" id="rePassword" placeholder="6+ Characters, 1 Capital Letter">
          <div *ngIf="errors?.password_confirmation" id="password_confirmationHelpBlock" class="text-danger form-text" [innerHtml]="errors?.password_confirmation | formatErrorMessage"></div>
        </div>

        <div class="d-grid mb-4">
          <button (click)="onChangePassword()" class="btn btn-primary btn-block">Change Password</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Body -->

<app-footer></app-footer>