<div class="main-content border pt-3 pb-5 px-sm-5 px-2">
  <div class="change-password-form mt-5">

    <!-- Body -->
    <div class="container">
      <div class="col-md-8 mx-auto mb-5"><h3 class="text-start">Change <span class="primary-text">Password</span></h3></div>
      <div class="col-md-8 mx-auto">
        <div class="mb-3">
          <label for="inputOldPassword" class="form-label">Enter Old Password</label>
          <input [(ngModel)]="form.old_password" type="password" class="form-control" id="inputOldPassword" placeholder="Old Password">
          <div *ngIf="errors?.old_password" id="old_passwordHelpBlock" class="text-danger form-text" [innerHtml]="errors?.old_password | formatErrorMessage"></div>
        </div>
        <div class="mb-3">
          <label for="inputNewPassword" class="form-label">Enter New Password</label>
          <input [(ngModel)]="form.password" type="password" class="form-control" id="inputNewPassword" placeholder="New Password">
          <div *ngIf="errors?.password" id="passwordHelpBlock" class="text-danger form-text" [innerHtml]="errors?.password | formatErrorMessage"></div>
        </div>
        <div class="mb-3">
          <label for="inputReEnterPassword" class="form-label">Enter Re-enter Password</label>
          <input [(ngModel)]="form.password_confirmation" type="password" class="form-control" id="inputReEnterPassword" placeholder="Re-enter Password">
          <div *ngIf="errors?.password_confirmation" id="passwordConfirmationHelpBlock" class="text-danger form-text" [innerHtml]="errors?.password_confirmation | formatErrorMessage"></div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-8 mx-auto">
          <button (click)="update()" class="btn btn-primary float-end">Update</button>
        </div>
      </div>
      
    </div>
    <!-- Body -->

  </div>
</div>