<app-header></app-header>

<!-- Body -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>About Us</h4>
        <h2>What <span class="primary-text">We Do</span></h2>
      </div>
    </div>
    <div class="row border-container my-5">
      <div class="col-md-6">
        <h2 class="text-start primary-text">Providing efficient and affordable ways to recruit educators</h2>
        <p>PEEPS 4 U has been developed to match employers with employees in real time. Carrie Rose founder of PEEPS 4 U understands the challenges and the costs faced by early learning centres to recruit educators. She believed that there must be a more efficient and economical way to access educators. From this passion PEEPS 4 U was born!</p>
        <p><a class="btn btn-primary" href="#">Contact Us</a></p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/headerimage.png" alt="" class="img-fluid mx-auto d-block">
      </div>
    </div>
  </div>
</section>

<section id="services" class="dataslide mb-5">
  <div class="trianglebg"></div>
  <div class="donutbg"></div>
  <div class="roundradiusbg-lightpinkcorner"></div>
  <div class="roundradiusbg-primarymid"></div>
  <div class="roundradiusbg-primarysmall"></div>
  <div class="spring"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Our Team</h4>
          <h2>Meet Our    <span class="primary-text">Team</span></h2>
        </div>
      </div>
     
      <div class="row my-5 justify-content-center">
        <div class="col-md-4 mb-4">
          <div class="shadow-container text-center">
            <div><img class="img-fluid" src="assets/images/carrie.png"/></div>
            <h3 class="primary-text my-4">Carrie Rose</h3>
            <h5 class="mb-4">Founder & Director</h5>
            <p>Carrie knows early childhood. A qualified early childhood teacher and approved provider Carrie understands the challenges faced when recruiting quality team members. With a belief there must be a better way - PEEPS 4 U was born!</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="shadow-container text-center">
            <div><img class="img-fluid" src="assets/images/luke.png"/></div>
            <h3 class="primary-text my-4">Luke Thomas</h3>
            <h5 class="mb-4">CO-Founder & Director </h5>
            <p>For over 20 years Luke has been involved in the delivery of innovative technology platforms to deliver efficiencies to various industries across Child Care, Real Estate & Telecommunications. Luke has also founded a number of technology businesses.</p>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Body -->


<app-footer></app-footer>
