<app-header></app-header>

<!-- Body -->

<section id="services" class="services mb-5">
  <div class="servicesbg"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="sub-heading">Our Process</h4>
        <h2 class="heading">How It <span class="primary-text">Works</span></h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills my-3 activenav justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item mb-4 me-4" role="presentation">
              <button class="nav-link  btn-lg active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class='bx bx-user-plus bx-sm' ></i> For Early Learning Centers</button>
            </li>
            <li class="nav-item ms-4" role="presentation">
              <button class="nav-link  btn-lg" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class='bx bx-user bx-sm'></i> For Early Childhood Educator</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="container">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8 border-container">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                      <iframe src="https://player.vimeo.com/video/651832387?h=36b636064d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="container">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8 border-container">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                      <iframe src="https://player.vimeo.com/video/651811868?h=95ec703691&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="dataslide mb-5">
  <div class="trianglebg"></div>
  <div class="donutbg"></div>
  <div class="roundradiusbg-lightpinkcorner"></div>
  <div class="roundradiusbg-primarymid"></div>
  <div class="roundradiusbg-primarysmall"></div>
  <div class="spring"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Our Team</h4>
        <h2>Meet Our    <span class="primary-text">Team</span></h2>
      </div>
    </div>
    <div class="row my-5 justify-content-center">
      <div class="col-md-4 mb-4">
        <div class="shadow-container text-center">
          <div><img class="img-fluid" src="assets/images/carrie.png"/></div>
          <h3 class="primary-text my-4">Carrie Rose</h3>
          <h5 class="mb-4">Founder & Director</h5>
          <p>Carrie knows early childhood. A qualified early childhood teacher and approved provider Carrie understands the challenges faced when recruiting quality team members. With a belief there must be a better way - PEEPS 4 U was born!</p>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="shadow-container text-center">
          <div><img class="img-fluid" src="assets/images/luke.png"/></div>
          <h3 class="primary-text my-4">Luke Thomas</h3>
          <h5 class="mb-4">CO-Founder & Director </h5>
          <p>For over 20 years Luke has been involved in the delivery of innovative technology platforms to deliver efficiencies to various industries across Child Care, Real Estate & Telecommunications. Luke has also founded a number of technology businesses.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Body -->
<app-footer></app-footer>