<div class="main-content border pt-3 pb-5 px-sm-5 px-2">
  
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card bg-primary" style="height: 100%;">
        <div class="card-body">
          <div class="d-flex gap-3 text-white">
            <div>
              <img src="assets/images/icons/file.png" alt="File Icon" class="img-fluid">
            </div>
            <div>
              <p class="text-white">Are you Looking for new Position?</p>
              <div class="btn-group bg-white rounded-3" role="group" style="border-radius: 8px !important; padding: 0.14em;">
                <button type="button" class="btn btn-primary" style="width: 74px; height: 46px;">Yes</button>
                <button type="button" class="btn text-secondary" style="width: 74px; height: 46px;">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="height: 100%;">
        <div class="card-body">
          <h5 class="text-start fw-bold">Complete your profile</h5>
          <div class="row align-items-center mt-4">
            <div class="col-md-10">
              <div class="progress" style="height: 6px;">
                <div class="progress-bar w-75 bg-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="col-md-2">
              <span>75%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card" style="height: 100%;">
        <div class="card-body">
          <div class="d-flex gap-3">
            <div>
              <img src="assets/images/icons/visa.png" alt="File Icon" class="img-fluid">
            </div>
            <div class="w-100">
              <h5 class="text-start fw-bold">Right to work in Australia</h5>
              <small>Select your visa status</small>
              <select class="form-select w-100">
                <option value="">Application Lodged</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card" style="height: 100%;">
        <div class="card-body">
          <div class="d-flex gap-3">
            <div>
              <img src="assets/images/icons/vaccine-card.png" alt="Vaccine Card Icon" class="img-fluid">
            </div>
            <div>
              <h5 class="text-start fw-bold">Are you fully vaccinated?</h5>
              <p class="mb-1"><small>Select your visa status</small></p>
              <div class="btn-group w-100" role="group">
                <button type="button" class="btn btn-primary border" style="width: 74px; height: 46px;">Yes</button>
                <button type="button" class="btn text-secondary border" style="width: 74px; height: 46px;">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card" style="height: 100%;">
        <div class="card-body">
          <h5 class="text-start fw-bold">Little About Me</h5>
          <textarea rows="6" class="form-control mt-3" placeholder="Add Resume Headline Max 300 words"></textarea>
          <button class="btn btn-sm btn-primary mt-3"><i class="bx bx-save"></i> Save</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div class="card" >
        <div class="card-body">
          <div class="d-flex gap-3">
            <div>
              <img src="assets/images/icons/visa.png" alt="File Icon" class="img-fluid">
            </div>
            <div class="w-100">
              <h5 class="text-start fw-bold">Would you relocate to work?</h5>
              <small>Select your visa status</small>
              <select class="form-select w-100">
                <option value="">Application Lodged</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>



  <div class="d-flex justify-content-between mt-5">
    <button class="btn btn-primary"><i class="bx bx-save"></i> Save</button>
    <button class="btn btn-primary">Continue <i class="bx bx-chevron-right-circle"></i></button>
  </div>

</div>